<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ eventDetails.bandName }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ eventDetails.motto }}</h6>
    <p class="card-text">{{ eventDetails.description }}</p>
    <p class="mt-1" *ngIf="eventDetails.vorbands.length">Vorbands: {{ eventDetails.vorbands | commaSeparate }}</p>
    <a class="mt-2" href="#" class="card-link">{{ eventDetails.homepage }}</a>
  </div>
  <div class="card-footer">
    <p *ngIf="eventDetails.date">{{ eventDetails.date }}</p>
  </div>
</div>
