<div class="event-details">
  <button type="button" class="btn btn-secondary float-right" (click)="onCloseDetailsClicked()">X</button>
  <tc-info-field [header]="'Band'" [content]="eventDetails.band"></tc-info-field>
  <tc-info-field [header]="'Motto'" [content]="eventDetails.motto"></tc-info-field>
  <tc-info-field [header]="'Beschreibung'" [content]="eventDetails.description"></tc-info-field>
  <tc-info-field [header]="'Vorbands'" [content]="eventDetails.vorbands | commaSeparate"></tc-info-field>
  <tc-info-field [header]="'Website'" [content]="eventDetails.homepage" [isUrl]="true"></tc-info-field>
  <tc-info-field [header]="'Datum'" [content]="eventDetails.date | date: 'short'"></tc-info-field>
  <div class="full-size center-h">
    <button type="button" class="btn btn-primary" (click)="navigateToOrderPage()">Ticket bestellen</button>
  </div>
</div>
