.root {
  background-color: #f48fb1;
}

.root .row:nth-child(2) {
  height: calc(100vh - 56px);
}

.top-navigation {
  background-color: #e6ee9c;
}

.side-navigation {
  background-color: #c5cae9;
}

.page-frame {
  background-color: #e8eaf6;
}

.container-fluid,
.row,
.col {
  margin: 0px;
  padding: 0px;
}
